
@model  IEnumerable<SEP_Team1.Models.DiemDanh>
@{
                /**/

                var buoihoc = (List<SEP_Team1.Models.BangBuoiHoc>)ViewBag.Buoihoc;
                var students = (List<SEP_Team1.Models.SinhVien>)ViewBag.Student;
                var diemdanh = (List<SEP_Team1.Models.DiemDanh>)ViewBag.Diemdanh;
}


<table class="table color-table dark-table">
    <thead>
        <tr>
            <th>ID Student</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Gender</th>
            <th>D.O.B</th>
            <th>Attendance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in diemdanh)
        {
            <tr>
                <td><a href="/Home/StudentProfile/@item.MSSV">@item.MSSV</td>
                <td>@item.SinhVien.ho</td>
                <td>@item.SinhVien.ten</td>
                @if (item.SinhVien.gioiTinh == true)
                {
                    <td>Nữ</td>
                }
                else
                {
                    <td>Nam</td>
                }

                @{
                    DateTime dt = Convert.ToDateTime(item.SinhVien.ngaySinh);
                    string nt = dt.ToString("dd/MM/yyyy");

                }
                <td>@nt</td>
                <!-- xu li diem danh-->
                <td>@Html.CheckBox(item.MSSV, item.diemDanh1, htmlAttributes: new { @id = "att" })</td>
                <!-- -->
            </tr>
        }
    </tbody>
</table>